.center {
  text-align: center
}

.action {
  text-align: center
}

.action button {
  padding: 20px
}

#no_category:not(.hidden) ~ #from_category, #no_category:not(.hidden) ~ #category_name {
  display: none
}
