---
layout: default
javascript: js/index.js
---

{% capture intro %}{% include index.markdown %}{% endcapture %}
{{ intro | markdownify }}

{% assign categories = site.categories | sort %}
<div class="content">
  Przeglądasz <span id="no_category">wszystkie</span> ogłoszenia <span id="from_category">z kategorii</span> <strong id="category_name"></strong>
  <span class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Zmień
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i>Wszystko</i></a></li>
      <li class="divider"></li>
      {% for category in categories %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#{{ category | first | uri_escape }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
  </span>
</div>

<div class="category"></div>
{% for category in categories %}
  <div class="category" data-category="#{{ category | first | uri_escape }}">

    {% assign category_name = category | first %}
    {% assign deadlines = category | last | sort: 'deadline','last' | group_by: 'deadline' %}
    {% for deadline in deadlines %}
      {% assign posts = deadline.items | sort: 'date' %}
      {% for post in posts %}
        {% if post.archive != true %}
        <div class="row">
          <div class="col-sm-4 text-right category-name">
            {% if category_name %}
              <em><small>{{ category_name }}</small></em>
              {% assign category_name = false %}
            {% endif %}
        </div>
        <div class="col-sm-8">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h3>
              {{ post.title }}
            </h3>
          </a>
          <p>{{ post.description }}</p>
          <small class="time_added">Dodano: <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span></small>
        </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class="alert alert-warning empty-alert text-center" role="alert">
      Brak aktualnych ogłoszeń w tej kategorii. <a href="#">Zobacz wszystkie ogłoszenia.</a>
    </div>
  </div>
{% endfor %}

<p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
