---
layout: default
---

<div class="content">
  Przeglądasz <span id="no_category">wszystkie</span> ogłoszenia <span id="from_category">z kategorii</span> <strong id="category_name"></strong>
  <span class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Zmień
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i>Wszystko</i></a></li>
      <li class="divider"></li>
      {% for category in site.categories %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#{{ category | first | uri_escape }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
  </span>
</div>

{% for category in site.categories %}
  <div class="category" data-category="#{{ category | first | uri_escape }}">
    <!--<a href="#{{ category | first | prepend: site.baseurl }} ">{{ category | first }}</a>-->

    {% for posts in category %}
      {% assign category_name = category | first %}
      {% for post in posts %}
      {% if post.url %}
      <div class="row">
        <div class="col-sm-4 text-right category-name">
          {% if category_name %}
            <em><small>{{ category_name }}</small></em>
            {% assign category_name = false %}
          {% endif %}
      </div>
      <div class="col-sm-8">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h3>
            {{ post.title }}
          </h3>
        </a>
        <small><span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span></small>
      </div>
      </div>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endfor %}

<p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<script>
  var hashchange = function(e) {
    var hash = encodeURI(decodeURI(window.location.hash))
    if(hash === "") {
      $('#no_category').removeClass('hidden')
      $('.category').show()
    } else {
      $('#no_category').addClass('hidden')
      $('.category').hide()
      $('.category[data-category="'+hash+'"]').show()
      $('#category_name').text(decodeURI(hash.substr(1)))
    }
    document.cookie = 'hash='+hash // Remember last viewd category
  }
  window.onhashchange = hashchange

  if(!window.location.hash) { // Read last category from cookie
    var redirect = document.cookie.replace(/(?:(?:^|.*;\s*)hash\s*\=\s*([^;]*).*$)|^.*$/, "$1")
    window.location.hash = redirect
  } else {
    hashchange()
  }
</script>
