---
layout: default
---

<div class="home">

  {% for category in site.categories %}
    <a href="#{{ category | first | prepend: site.baseurl }} ">{{ category | first }}</a>

    <ul class="posts">
    {% for posts in category %}
      {% for post in posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
