<script>

  var job_id = window.location.pathname
  var startkey = escape(JSON.stringify([job_id])),
      endkey = escape(JSON.stringify([job_id, {}]))

  $.getJSON('https://krakow2016.cloudant.com/jobs/_design/applications/_view/all?startkey='+startkey+'&endkey='+endkey+'&callback=?', function(applications) {

    console.log('Zgłoszeń: ', applications.rows.length)
    console.log('Wszystkich miejsc: ', $('#team_count').val())

    var available = $('#team_count').val() - applications.rows.length
    console.log('Wolnych miejsc: ', available)

    $.ajax({
      type: "GET",
      url: "http://localhost:3000/me",
      cache: false,
      crossDomain: true,
      xhrFields: {
        withCredentials: true
      },
      success: function(user) {
        if(user.ok) { // We are logged in

          var checksum = md5([user.result._id, job_id])
          if(_.any(applications.rows, function(x){ return x.id === checksum })) { // We already have applied
              console.log('Already applied!')
          } else { // Show "apply for a job" button
            if(available > 0) {
              var a = $('<a href="#">Zgłoś się.</a>')
              a.click(function() {

                $.ajax({
                  type: "POST",
                  url: "http://localhost:3000/jobs",
                  cache: false,
                  crossDomain: true,
                  contentType: "application/json",
                  data: JSON.stringify({
                    url: job_id
                  }),
                  dataType: 'json',
                  xhrFields: {
                    withCredentials: true
                  },
                  success: function(data) {
                    alert('Good job!')
                  }
                })
              })
              $('#login').replaceWith(a)
              console.log('Apply!')
            } else { // There is no more applications to apply for
              console.log('Application closed')
            }
          }
        } else { // Show login button
            console.log('Log in')
        }
      }
    })
  })
</script>
