<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="fb-root"></div>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    <footer>
      <div class="container text-right">
        Copyright &copy; {{ site.time | date: '%Y' }}
      </div>
    </footer>

    <script src="{{ "/js/lib/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/md5.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/underscore-min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/backbone-min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    {% if page.javascript %}
    <script>
      {% include {{page.javascript}} %}
    </script>
    {% endif %}

    <!--Otwieraj linki do zewnętrznych stron w nowej karcie-->
    <script>
      $(document.links).filter(function() {
          return this.hostname != window.location.hostname;
      }).attr('target', '_blank');
    </script>

    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55014967-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
